<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag("avt.jpg") %>
	</div>

	<div id="content">
		<h1>Hey, I'm TRAN VAN LINH. I'm Newbie ROR</h1>
		<p>This is my first Sample Blog with Ruby on Rails</p>
		<p>Contact me : 0984709086</p>
		<p>Email: tvlinh0198@gmail.com</p>
	</div>
</div>